<style>
/* icon */ .custom-navbar .fa {font-size:25px}

@media (max-width:767px) { 
  .custom-navbar .navbar-right {
    float: right;
    padding-right: 15px;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li {
    float: right;
  }
  .custom-navbar .nav.navbar-nav.navbar-right li > a {
    padding:8px 5px;
  }
  .custom-navbar .navbar-toggle {
    float: left
  }
  .custom-navbar .navbar-header {
    float: left;
    width: auto!important;
  }
  .custom-navbar {
    clear: both;
    float: none;
  }
}
</style>

<nav id="navigation-bar"class="navbar navbar-default navbar-static-top navbar-inverse custom-navbar">
  <div class="container">

    <ul class="nav navbar-nav navbar-right">

      <% if (user) { %>

      <!-- User is logged in so... display the user's name + logout link  -->
      <li class="active">
        <a href="/logout" id="logout"><%= user.name %> <span class="glyphicon glyphicon-remove-circle"></span></a>
      </li>

      <% } else { %>

      <!-- User NOT logged in so... google and facebook login buttons  -->
      <li class="active" id="google-login">
      <a href="/auth/google">Google</a>
      </li>
      <li class="active" id="facebook-login">
      <a href="/auth/facebook">Facebook</a>
      </li>

      <% } %>
   </ul>


   <div ng-controller="NavBarCtrl" class="navbar-left">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/" id="home-button"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Choose Your Role <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="page in pages"><a href="/{{ page }}">{{ page | capitalizeFirst }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
