

<nav id="navigation-bar"class="navbar navbar-default navbar-static-top navbar-inverse custom-navbar">
  <div class="container">

    <div class="navbar-left">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/" id="home-button"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="dropdown" id="navigation-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Choose Your Role <span class="caret"></span></a>
          <ul id="navigation-links" class="dropdown-menu" role="menu">
            <li><a href="/student">Student</a></li>
            <li><a href="/instructor">Instructor</a></li>
            <li><a href="/author">Author</a></li>
            <li><a href="/developer">Developer</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div ng-controller="AuthController as authenticator">
      <ul class="nav navbar-nav navbar-right" ng-hide="authenticator.isAuthenticated">

        <!-- User NOT logged in so... google and facebook login buttons  -->
        <li class="active" >
          <div style="padding-left:2px; padding-right:2px;">
            <a id="facebook-login" class="btn navbar-btn btn-block btn-social btn-facebook" href ng-click="authenticator.facebook()">
              <i class="fa fa-facebook"></i> Login with Facebook
            </a>
          </div>
        </li>
        <li class="active">
          <div style="padding-left:2px; padding-right:2px;">
            <a id="google-login" class="btn navbar-btn btn-block btn-social btn-google" href ng-click="authenticator.google()">
              <i class="fa fa-google"></i> Login with Google
            </a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="authenticator.isAuthenticated">
        <li class="dropdown" id="user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{ authenticator.user.name }}    <span class="glyphicon glyphicon-cog"></span></a>
          <ul id="user-links" class="dropdown-menu" role="menu">
            <li><a href="/usersettings">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="authenticator.logout()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div flash-message="5000" id="flash-message-div" ></div>
    </div>
  </div>
</div>








