<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body ng-app="awesomeApp">

  <% include ../partials/nav.ejs %>

		<div class="container">

			<div class="col-sm-6 col-sm-offset-2">

	    		<h1><span class="fa"></span> <% if (qd) { %> <%= qd.descriptor.title %> <% } %> </h1>

	    		<hr>

				<div>


				</div>
				    
			    <hr>

			    <button type="submit" class="btn btn-success btn-lg">Start Quiz</button>

			</div>
			
		</div>


</body>
</html>