<div class="container">

	<div class="col-sm-6">

		<h1><span class="fa">Export Questions</span></h1>

		<hr>

		<div>
			<form name="exportForm">
				<div>
					<label>Export Question Type</label>
				</div>
				<div class="btn-group" dropdown is-open="status.isopen">
					<button type="button" class="btn btn-default btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
						{{ exporter.questionTypeSelection }} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="qType in exporter.questionTypes">
							<a href ng-click="exporter.questionTypeSelection = qType">{{qType}}</a>
						</li>
					</ul>
				</div>
				<div>
					<br>
				</div>

				<div class="form-group" ng-class="{'has-error': exportForm.seed.$error.pattern}">
					<label>Enter Quiz Seed</label>
					<input name="seed" type="text" ng-pattern="/^[0-9a-fA-F]{8}$/" class="form-control" ng-model="exporter.seed" placeholder="Random" >
					<span class="help-block" ng-class="{ 'invisible': !exportForm.seed.$error.pattern }">Must be an 8 digit hexidecimal.</span>
				</div>

				<div class="form-group" ng-class="{'has-error': exportForm.count.$error.number || exportForm.count.$error.max || exportForm.count.$error.min}">
					<label>Number of question to export</label>
					<input min="{{exporter.minCount}}" max="{{exporter.maxCount}}" name="count" type="number" ng-model="exporter.countSelection" class="form-control" placeholder="{{exporter.defaultCount}}" >
					<span class="help-block" ng-class="{ 'invisible': !exportForm.count.$error.number }">Must be a number.</span>
					<span class="help-block" ng-class="{ 'invisible': !exportForm.count.$error.max }">Max number of questions is 1000.</span>
					<span class="help-block" ng-class="{ 'invisible': !exportForm.count.$error.min }">Must be at least 1.</span>
				</div>
				<div>
					<button ng-disabled="exportForm.count.$error.number || exportForm.count.$error.max || exportForm.count.$error.min || exportForm.seed.$error.pattern" type="submit" class="btn btn-success btn-lg" ng-click="exporter.getFile()">Get File</button>
				</div>
			</form>

		</div>
		


	</div>
	
</div>




