<div class="container" style="padding-top:80px;" ng-controller="AuthController as authenticator">

	<div class="jumbotron text-center" >
		<h1><span class="fa fa-lock"></span> Project Awesome Login</h1>

		<p>Sign In or Register with:</p>

		<a id="facebook-login" class="btn btn-social btn-facebook" href ng-click="authenticator.facebook()">
			<i class="fa fa-facebook"></i> Facebook
		</a>
		<a id="google-login" class="btn btn-social btn-google" href ng-click="authenticator.google()">
			<i class="fa fa-google"></i> Google
		</a>
	</div>

</div>