<div class="container">

	<div class="col-sm-6 col-sm-offset-2">

		<h1><span class="fa"><b>{{ quizCtrl.quiz.id }} </b> {{ quizCtrl.quiz.title }}</span></h1>

		<hr>

		<div ng-show="quizCtrl.showQuestions">
			<h3>Questions</h3>
			<br>
			<ol>
				<li ng-repeat="question in quizCtrl.quiz.questions" ng-switch="question.format">

					<div ng-switch-when="multiple-choice" class="question multiple-choice-question">
						<div> {{ question.question }} </div>
						<div ng-repeat="choice in question.choices"><span class="multiple-choice-label">{{ $index | indexToLetter }}.</span> {{ choice }}</div>
					</div>

					<div ng-switch-when="input" class="question input-question">
						<div> {{ question.question }} </div>
					</div>

				</li>
			</ol>
		</div>
		<div ng-show="quizCtrl.showKey">
			<h3>Answers</h3>
			<br>
			<ol>
				<li ng-repeat="question in quizCtrl.quiz.questions" ng-switch="question.format">
					<div ng-switch-when="multiple-choice" class="answer multiple-choice-answer">
						<div> {{ question.answer | indexToLetter }} </div>
					</div>
					<div ng-switch-when="input" class="answer input-answer">
						<div> {{ question.answer }} </div>
					</div>
				</li>
			</ol>
		</div>
		
		<br>

	</div>
	
</div>