<div class="container">

	<div class="col-sm-6 col-sm-offset-2">

		<h1><span class="fa">{{ quizStarter.qd.descriptor.title }}</span></h1>

		<hr>

		<div>
			<form>
				<div class="form-group">
					<label>Enter Quiz Seed</label>
					<input type="text" class="form-control" ng-model="quizStarter.seed" placeholder="Seed">
				</div>
				<div class="form-group">
					<label>Display Options</label>
					<div class="radio">
						<label>
							<input type="radio" ng-model="quizStarter.displayOption" value="answer">
							Answers
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="quizStarter.displayOption" value="key_answer">
							Answers &amp; Key
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" ng-model="quizStarter.displayOption" value="key">
							Key
						</label>
					</div>
				</div>
			</form>

		</div>
		
		<br>

		<button type="submit" class="btn btn-success btn-lg" ng-click="quizStarter.startQuiz()">Start Quiz</button>

	</div>
	
</div>