<div class="container">

	<div class="col-sm-6 col-sm-offset-2">

		<h1>{{ quizCtrl.quiz.title }}</h1>
		<div>ID: <span id="quiz-id">{{ quizCtrl.quiz.id }}</span></div>
		<div>Seed: <span id="quiz-seed">{{ quizCtrl.seed }}</span></div>

		<hr>

		<div ng-show="quizCtrl.showQuestions">
			<h3>Questions</h3>
			<br>
			<ol class="custom-counter">
				<li ng-repeat="question in quizCtrl.quiz.questions" ng-switch="question.format">
					<i style="position:absolute; margin-left:-38px;margin-top:7px;" ng-class="{'correct-mark fa-check':question.isCorrect, 'incorrect-mark fa-close':!question.isCorrect, 'not-graded': !quizCtrl.graded }" class="fa"></i>
					<div ng-switch-when="multiple-choice" class="question multiple-choice-question">
						<div>{{ question.question }}</div>

						<div class="radio" ng-repeat="choice in question.choices">
							<label>
								<input type="radio" ng-model="question.userAnswer" value="{{ $index }}">
								<span class="multiple-choice-label"></span> {{ choice }}
							</label>
						</div>
					</div>

					<div ng-switch-when="input" class="question input-question">
						<div> {{ question.question }} </div>
						<div class="form-group input-group-sm">
							<input type="text" class="form-control" ng-model="question.userAnswer">
						</div>
					</div>

				</li>
			</ol>
		</div>
		<div ng-show="quizCtrl.showKey">
			<h3>Answers</h3>
			<br>
			<ol>
				<li ng-repeat="question in quizCtrl.quiz.questions" ng-switch="question.format">
					<div ng-switch-when="multiple-choice" class="answer multiple-choice-answer">
						<div> {{ question.answer | indexToLetter }} </div>
					</div>
					<div ng-switch-when="input" class="answer input-answer">
						<div> {{ question.answer }} </div>
					</div>
				</li>
			</ol>
		</div>
		
		<br>
		<button type="submit" class="btn btn-success btn-lg" ng-click="quizCtrl.gradeQuiz()">Check Answers</button>

	</div>
	
</div>